.aggregate-products{
    width: 100%;
    height: auto;
    max-height: 300px;
    position: fixed;
    overflow-y: scroll;
    background: #79ffff;
    
    bottom: -100%;
    right: 0;
    text-align: center;
    padding: .5rem 0 0 0;
    transition: .5s;
    border-top: 1px solid rgb(39, 39, 39);
    
    
    

    @media(min-width: 768px){
        width: 50%;
        max-height: 100%;
        right: -100%;
        top: 0;
        z-index: 9999;
        border-top: none;
        border-left: 1px solid black;
    }

    

    p{
        margin: 1rem 0;
    }


    .icon-hide-shoppingCart{
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
    }

    .aggregate-products__content__products-buy{
        display: flex;
        justify-content: center;
        flex-direction: column;

        table{
            padding:  1rem;

            
            tbody {
                    
                td{
                    margin: .3rem;
                        
                }

                .delete i{
                    cursor: pointer;
                }

                .image img{
                    width: 40px;

                    @media(min-width: 768px){
                        width: 50px;
                    }
                }

                .amount{
                    background: white;
                    width: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                }

                button{
                    width: 25%;
                    height: 100%;
                    cursor: pointer;
                    transition: .5s;
                    border: none;

                    &:hover{
                        background: rgb(80, 80, 80);
                        color: white;
                    }
                
                }

                span {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }

                
            }
        }
    }

    .aggregate-products__content__total{
        border-top: 1px solid black;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 1.2rem;

            span{
                font-weight: bold;
            }
        }

        button{
            background: #041f36;
            color: white;
            border: none;
            padding: .5rem 1rem;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: .5s;

            &:hover{
                background: rgb(80, 80, 80);
            }
        }
    }
    
}

.show{
    bottom: 0;
    z-index: 999;

    
    @media(min-width: 768px){
        right: 0;
        width: 50%;
        z-index: 999;
    }

    @media(min-width: 1024px){
        right: 0;
        width: 32%;
        z-index: 999;
    }

}