.sidebar__content{
    width: 70%;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 99;
    left: -100%;
    transition: .5s;

    @media (min-width: 768px){
        width: 30%;
        left: 0;
    }

    @media (min-width: 1024px){
        width: 20%;
    }

    .sidebar__content__user{
        background: #fff159;
        padding: 1rem 0 1rem .5rem;
        display: flex;
        align-items: center;
 

        @media(min-width: 768px){
            height: 50px;
        }

        i{
            font-size: 1.2rem;
            margin-right: 1rem;

            @media (min-width: 1024px){
                font-size: 1.6rem;
            }
        }
    }

    .sidebar__content__arrow{
        position: absolute;
        right: 0;
        bottom: 50%;

        @media (min-width:768px){
            display: none;
        }

        i{
            font-size: 1.4rem;
            cursor: pointer;
        }
    }

}

.show-sidebar{
    left: 0;
    position: fixed;
    z-index: 99999;
}